pkg/*
doc/*
coverage/*
tags
ext/amalgalite/c/Makefile
ext/amalgalite/c/rbconfig.rb
ext/amalgalite/c/*.def
ext/amalgalite/c/*.exp
ext/amalgalite/c/*.lib
ext/amalgalite/c/*.obj
ext/amalgalite/c/*.pdb
examples/*.db
tmp/*
*~
*.swp
email.txt
spec/data/*.db
*.bundle
Gemfile*
